.btn{
    -fx-background-color: #5aacd8;

}

.btn:hover{
    -fx-background-color: #c02727;
}

#btnCansel{
    -fx-background-color: #5aacd8;
}

#btnCansel:hover {
    -fx-background-color: #c02727;
}
